.container {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.2s;
}

.item {
    display: block;
    position: absolute;
    cursor: pointer;
    /* background: #000; */
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}


.a {
    transform: rotateY(0deg) translateZ(250px);
}

.b {
    transform: rotateY(60deg) translateZ(250px);
    background: #0072bc;
}

.c {
    transform: rotateY(120deg) translateZ(250px);
    background: #0072bc;
}

.d {
    transform: rotateY(180deg) translateZ(250px);
    background: #0072bc;
}

.e {
    transform: rotateY(240deg) translateZ(250px);
    background: #0072bc;
}

.f {
    transform: rotateY(300deg) translateZ(250px);
    background: #0072bc;
}


/* Hovers */
.a:hover {
    transform: rotateY(0deg) translateZ(260px);
}

.b:hover {
    transform: rotateY(60deg) translateZ(260px);
}

.c:hover {
    transform: rotateY(120deg) translateZ(260px);
}

.d:hover {
    transform: rotateY(180deg) translateZ(260px);
}

.e:hover {
    transform: rotateY(240deg) translateZ(260px);
}

.f:hover {
    transform: rotateY(300deg) translateZ(260px);
}


.next, .prev {
    color: #444;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.1s, top 0.1s;
}

.next:hover, .prev:hover {
    color: #000;
}

.next:active, .prev:active {
    top: 104px;
    box-shadow: 0 1px 0 #999;
}

.next {
    right: 5em;
}

.prev {
    left: 5em;
}